.navigation-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-menu li{
    margin: 0px 20px;
}
.navigation-menu li a{
    text-decoration: none;
    color: black;
    transition: color 0.3s, font-weight 0.3s; /* Adding transition for color and font-weight */
}
.navigation-menu li a.active,
.navigation-mobile li a.active {
  color: blue; /* Your desired color for active links */
  font-weight: bold; /* Your desired font weight for active links */
}


/*mobile css */
.navigation-mobile{
    list-style: 'none', 
}
.navigation-mobile li{
    margin-top: 20px;
}
.navigation-mobile li a{
    text-decoration: none;
    Color:black;
    font-size: 18px;
}

/* Common styles for both desktop and mobile */
.navigation-menu, .navigation-mobile {
    list-style: none;
  }
  
  .navigation-menu li, .navigation-mobile li {
    margin: 0px 20px;
  }
  
  .navigation-menu li a, .navigation-mobile li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s, font-weight 0.3s;
  }
  
  /* Hover effect for both desktop and mobile */
  .navigation-menu li a:hover, .navigation-mobile li a:hover {
    color: blue; /* Change color on hover */
  }
  
  /* Active route styling for both desktop and mobile */
  .navigation-menu li a.active, .navigation-mobile li a.active {
    color: blue;
    font-weight: bold;
  }
  
  /* Mobile specific styles */
  .navigation-mobile li {
    margin-top: 20px;
  }
  
  /* Enhance active route on mobile */
  .navigation-mobile li a.active {
    transform: scale(1.1); /* Scale up active route on mobile */
  }